<main class="main">
    <div class="main-overlay">;
        <div class="container">
            <div class="aside-img"></div>
            <div class="wrapper-content">
                <section class="header-content">
                    <p class="welcome">SEJA BEM-VINDO AO</p>
                    <img class="logo" src="svg/cashly-logotype.svg" alt="">
                </section>
                <section class="form-content">
                    <ng-content></ng-content>
                </section>
            </div>
        </div>
    </div>
</main>