:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding-bottom: var(--space-6);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 70%;
    height: 80%;

    font-family: var(--font-base);
    font-size: var(--font-size-sm);
    padding: var(--space-4);
    gap: var(--space-3);

    & .form-group {
        display: flex;
        flex-direction: column;

        & input {
            height: 2.5rem;
            border: none;
            outline: none;
            border-bottom: 2px solid var(--color-border);
            border-radius: 4px;
            color: var(--color-text);
            background-color: var(--fill-transparent);
            padding-left: var(--space-1);
        }

        & input::placeholder {
            padding-left: var(--space-1);
        }

        & .input-error {
            height: 2.5rem;
            border: 2px solid var(--color-danger);
            border-radius: 4px;
            color: var(--color-text);
            background-color: var(--fill-transparent);
        }

        & .error-message {
            color: var(--color-danger);
            margin-top: var(--space-1);
        }

    }

    & .error-message {
        color: var(--color-danger);
        margin-top: var(--space-1);
    }
}

.links {

    & p {
        color: var(--color-text);
        font-size: var(--font-size-sm);
        font-weight: 200;

        & a {
            text-decoration: none;
        }

        & a:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 1366px) {
    :host {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        padding-bottom: var(--space-1);
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 70%;
        height: 80%;

        font-family: var(--font-base);
        font-size: var(--font-size-sm);
        padding: var(--space-4);
        gap: var(--space-3);

        & .form-group {
            display: flex;
            flex-direction: column;

            & input {
                height: 2.5rem;
                border: none;
                outline: none;
                border-bottom: 2px solid var(--color-border);
                border-radius: 4px;
                color: var(--color-text);
                background-color: var(--fill-transparent);
                padding-left: var(--space-1);
            }

            & input::placeholder {
                padding-left: var(--space-1);
            }

            & .input-error {
                height: 2.5rem;
                border: 2px solid var(--color-danger);
                border-radius: 4px;
                color: var(--color-text);
                background-color: var(--fill-transparent);

            }

        }
    }

    .links {

        color: var(--color-text);
        font-size: var(--font-size-sm);
        font-weight: 200;
    }

}

@media (max-width: 768px) {

    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 80%;
        font-family: var(--font-base);
        font-size: var(--font-size-sm);
        padding: var(--space-4);
        gap: var(--space-6);

        & .form-group {
            display: flex;
            flex-direction: column;

            & input {
                height: 2.5rem;
                border: none;
                outline: none;
                border-bottom: 2px solid var(--color-border);
                border-radius: 4px;
                color: var(--color-text);
                background-color: var(--fill-transparent);
                padding-left: var(--space-1);
            }

            & input::placeholder {
                padding-left: var(--space-1);
            }

        }
    }

    .links {
        color: var(--color-text);
        font-size: var(--font-size-sm);
        font-weight: 200;
    }
}